@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

/*PAGINA DE INICIO*/
main{
  background-color: aqua;
  width: 650px;
  height: 750px;
  margin: auto;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
}
footer{
  background-color: coral;
  width: 650px;
  height: 800px;
  margin: auto;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
}
/*PARATE DE ARRIBA*/
main>article {
  width: 180px;
  height: 180px;
  background-color: red;
  display: inline-block;
  margin: 10px 5px ; 
}
main>article>section{
  width: 180px;
  height: 180px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: auto;
}

/*PARTE DEL MEDIO*/
main>section{
  width: 220px;
  height: 220px;
  background-color: red;
  display: inline-block;
  margin: 10px 25px ; 
}
main>section>section{
  width: 220px;
  height: 220px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin:auto; 
}

/*PARTE DE ABAJO*/
main>div{
  background-color: red;
  width: 505px;
  height: 265px;
  display: inline-block;
  margin: 10px 5px ;
  padding-left: 10px;  
}
main>div>article{
  width: 130px;
  height: 245px;
  background-color: bisque;
  display: inline-block;
  margin: 10px 15px ; 
}
main>div>article>aside{
  width: 70px;
  height: 70px;
  background-color: red;
  margin: 8px 25px ;
}
main>div>article>nav{
  width: 70px;
  height: 220px;
  background-color: red;
  margin: 15px 30px ;
  border-radius: 45%;
}
main>div>article>footer{
  width: 30px;
  height: 1px;
  background-color: red;
  margin-left:28px;
  margin-top:0.7px;
  border-radius: 50%;
}

/*PAGINA 2 */

/*PARTE DE ARRIBA*/
main>section>div{
  width: 105px;
  height: 105px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: auto;
}

/*PARTE DEL MEDIO*/
main>footer{
  background-color: red;
  width: 310px;
  height: 150px;
  display: inline-block;
  margin: 10px 110px ;
  padding-left: 10px;
}
main>footer>section{
  width: 150px;
  height: 150px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: 15px 0px;
}

/*PARTE DE ABAJO*/
main>nav{
  width: 120px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 10px 5px ; 
}
main>nav>section{
  width: 100px;
  height: 160px;
  background-color: red;
  margin: 20px 8px ;
  border-radius: 45%;
}
main>aside{
  width: 180px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: 10px 5px ; 
}
main>aside>section{
  width: 85px;
  height: 85px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: 8.7px 1px;
}

/*PAGINA 3*/

/*PARTE DE ARRIBA*/
main>li{
  width: 270px;
  height: 180px;
  background-color: red;
  display: inline-block;
  margin: 10px 5px ;
  padding: 10px;
}
main>li>nav{
  width: 240px;
  height: 170px;
  background-color: blue;
  display: inline-block;
  margin:5px 17px; 
}
main>li>nav>section{
  width: 210px;
  height: 150px;
  background-color: yellow;
  display: inline-block;
  margin:9px 15px; 
}
main>li>nav>section>article{
  width: 55px;
  height: 55px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  margin: 8.7px 1px;
}
main>li>nav>section>section{
  width: 55px;
  height: 55px;
  background-color: black;
  display: inline-block;
  margin: 8.7px 1px;
}

/*PARTE DEL MEDIO*/
main>a{
  background-color: red;
  width: 585px;
  height: 265px;
  display: inline-block;
  margin: 10px 5px ;
  padding-left: 10px;
  padding-top: 5px;
}
main>a>li{
  background-color: blue;
  width: 550px;
  height: 230px;
  display: inline-block;
  margin: 10px 5px ;
  padding-left: 10px;
  padding-top: 5px;
}
main>a>li>section{
  width: 190px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
  margin:10px;
}
main>a>li>section>nav{
  width: 70px;
  height: 150px;
  background-color: black;
  margin: 25px 12px ;
  border-radius: 45%;
  display:inline-block;
}
main>a>li>article{
  width: 150px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
  margin:10px;
}
main>a>li>article>nav{
  width: 130px;
  height: 60px;
  background-color: black;
  margin: 19px 10px ;
  border-radius:45%;
  display:inline-block;
}
main>a>li>nav{
  width: 130px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
  margin:10px;
}
main>a>li>nav>section{
  width: 60px;
  height: 60px;
  background-color: black;
  margin: 19px 10px ;
  border-radius:50%;
  display:inline-block;
}

/*PARTE DE ABAJO*/
main>a>li>footer{
  background-color: yellow;
  width: 520px;
  height: 150px;
  display: inline-block;
  margin: 10px 5px ;
  padding-left: 10px;
  padding-top: 5px;
}
main>a>li>footer>section{
  background-color: black;
  width: 500px;
  height: 170px;
  display: inline-block;
  margin: 10px 5px ;
  padding-left: 3px;
  padding-top: 5px;
}
main>a>li>footer>section>nav{
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 40px 10px ;
  border-radius:50%;
  display:inline-block; 
}


/*PAGINA 4*/
/*PARTE DE ARRIBA*/
footer>section{
  width: 95px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 2px 2px 2px 5px ;
  vertical-align: top;
}
footer>nav{
  width: 80px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 2px 2px 2px 5px ; 
}
footer>section>section{
  width: 70px;
  height: 70px;
  background-color: black;
  margin:15px;
  border-radius:50%;
  display:inline-block;
}
footer>section>nav{
  width: 70px;
  height: 174px;
  background-color: black;
  margin: 12px;
  border-radius: 45%;
}
/*PARTE DEL MEDIO*/
footer>div{
  width: 200px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin-top: 10px;
}
footer>div>section{
  width: 180px;
  height: 60px;
  background-color: black;
  display: inline-block;
  margin: 10px ;
}
footer>div>section>nav{
  width: 150px;
  height: 50px;
  background-color: yellow;
  margin: auto;
  margin-top: 5px;
  border-radius: 45%;
}
footer>div>nav{
  width: 80px;
  height: 110px;
  background-color: black;
  display: inline-block;
  margin:1px 10px;
}
footer>div>nav>nav{
  width: 50px;
  height: 100px;
  background-color: yellow;
  margin: auto;
  margin-top: 5px;
  border-radius: 45%;
}
footer>div>nav>section{
  width: 45px;
  height: 45px;
  background-color: yellow;
  margin: auto;
  margin-top: 7px;
  border-radius: 45%;
}
footer>li{
  width: 400px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 10px;
  vertical-align: top; 
  vertical-align: right; 
}
footer>li>div{
  width: 380px;
  height: 180px;
  background-color: black;
  margin: 10px ;
  padding: 0.2px;
}
footer>li>div>nav{
  width: 350px;
  height: 160px;
  background-color: yellow;
  margin: auto; 
  margin-top: 10px;
}
footer>li>div>nav>section{
  width: 90px;
  height: 140px;
  background-color: black;
  display: inline-block;
  margin: 10px ;
}
footer>li>div>nav>section>div{
  width: 60px;
  height: 60px;
  background-color: yellow;
  margin: auto;
  margin-top: 40px;
  border-radius: 45%;
}


/*PARTE MEDIO INFERIOR*/
footer>n{
  width: 190px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 10px 10px 0px 5px;
  vertical-align: top;
}
footer>n>o{
  width: 170px;
  height: 180px;
  background-color: black;
  display: inline-block;
  margin: 10px;
}
footer>n>o>d{
  width: 120px;
  height: 80px;
  background-color: yellow;
  display: inline-block;
  margin: 15px;
  margin-left: 25px;
}
footer>n>o>d>x{
  width: 60px;
  height: 60px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  margin: 10px;
  margin-left: 30px;
}
footer>n>o>k{
  width: 110px;
  height: 60px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50%;
  margin-left: 30px;
}
footer>n>o>ka{
  width: 110px;
  height: 60px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 10px;
}
footer>n>o>na{
  width: 160px;
  height: 160px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 10px;
}
/*PARTE INFERIOR*/
footer>la{
  width: 600px;
  height: 190px;
  background-color: bisque;
  display: inline-block;
  margin: 10px;
  vertical-align: top; 
  vertical-align: right;
}
footer>la>ja{
  width: 90px;
  height: 120px;
  background-color: black;
  display: inline-block;
  margin-top: 35px;
  margin-left: 22px;
  vertical-align: top;
}
footer>la>ja>hu{
  width: 80px;
  height: 80px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 20px;
}
footer>la>ja>de{
  width: 80px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 12px;
}
nav{
  background-color: #FF1744;
  text-align:center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.active{
  background-color: blueviolet;
}